<!DOCTYPE html>
<html>
    <head>
        <title>Mikrotik VLAN GUI</title>
        <style>
            table, th, td {
                border: 1px solid white;
                border-collapse: collapse;
                color: white;
            }
            td.iface{
                background-color: darkgray;
            }
            td.iface_hdr{
                background-color: grey;
            }
            td.pvid, input.pvid{
                background-color: darkorange;
            }
            td.pvid_hdr{
                background-color: orange;
            }
        </style>
    </head>
    <body>
        <h1>Mikrotik VLAN GUI</h1>
        <form action="/" method="post">
            <table>
                <tr>
                    <td class="iface_hdr">IFACE</td>
                    {% for iface in iface_list %}
                    <td class="iface">{{ iface["name"] }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td class="pvid_hdr">PVID</td>
                    {% for iface in iface_list %}
                    <td class="pvid"><input class="pvid" type='text' name='{{ iface["name"] }}' value='{{ iface["pvid"] }}'></td>
                    {% endfor %}
                </tr>
            </table>
            <input type="submit" value="Save">
            {% if status is defined %}
                {% if status %}
                <div style="color: green;">Success</div>
                {% else %}
                <div style="color: red;">Error!!!</div>
                {% endif %}
            {% endif %}
        </form>

    </body>
</html>